:root{
    --black-color: #000;
    --white-color: #ffffff;
    --green-color: #4b7760;
    --phthalo-color: #123524;
    --gold-color: #b59c73;
    --darkergold-color: #b69d74b9;
}

.retake-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-box{
    width: 50%;
}

.infos-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.last-words{
    margin-top: 20px;
}

.last-words p{
    margin: 0;
    padding: 0;
}

.retake-btn{
    margin-top: 25px;
}

.form-text{
    width: 50%;
    font-size: large;
}

.number-custom{
    font-weight: 700;
    color: var(--green-color);
}

.email-custom{
    color: var(--green-color);
}

.social-icons{
    list-style: none;
    padding: 10px;
}

.social-icons li{
    margin-right: 15px;
}

.social-icons a {
    font-size: 25px;
}

.icon-color{
    color: var(--phthalo-color);
}