:root{
    --black-color: #000;
    --white-color: #ffffff;
    --green-color: #4b7760;
    --phthalo-color: #123524;
    --gold-color: #b59c73;
    --darkergold-color: #b69d74b9;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.mission-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.mission-word{
    display: inline;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 5px;
    text-decoration-color: var(--darkergold-color);
    color: var(--phthalo-color);
}

.mission-text{
    padding: 20px;
    color: var(--phthalo-color);
}

.mission-description{
    margin-bottom: 1rem;
    width: 600px;
    word-wrap: break-word;
    font-size: large;
    font-weight: 490;
}

.mission-image{
    position: relative;
    justify-self: center;
    overflow: hidden;
}

.mission-img{
    width: 700px;
    transition: transform .4s;
}

.mission-img:hover{
    transform: scale(1.1);
}

.btn-primary{
    background-color: var(--green-color);
    border-color: var(--green-color);
    transition: transform .4s;
    font-weight: 600;
}

.btn-primary:active{
    background-color: var(--phthalo-color) !important;
    border-color: var(--phthalo-color) !important;
    transform: scale(1.05) !important;
    font-weight: 600 !important;
}

.btn-primary:hover{
    background-color: var(--phthalo-color); 
    border-color: var(--phthalo-color);
    transform: scale(1.05);
    font-weight: 600;
}

.social-icons{
    list-style: none;
    padding: 10px;
}

.social-icons li{
    margin-right: 15px;
}

.social-icons a {
    font-size: 25px;
}

.icon-color{
    color: var(--phthalo-color);
}